// @import "./page/page.scss";

@mixin container() {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto; 
}

@mixin header() {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  padding-bottom: 18px;
  position:relative;

&::after{
content: "";
position: absolute;
width: 60px;
height: 4px;
background-color: #4e7f9c;
bottom: 0;
left: 0;


}
}




.da{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  padding-bottom: 18px;
  
  position:relative;

&::after{
content: "";
position: absolute;
width: 60px;
height: 4px;
background-color: #4e7f9c;
bottom: 0;
left: 0;


}
}

//*-----header----->

.a {
 
}

  .aa { @include container();
    display: flex;
    justify-content:space-between;
    align-items: center;

  }

    .aaa {
    }

      .aaa-a {
      }

    .aab {
      
    }

    .aab-a {
      display: flex
    }

    .aab-aa + .aab-aa {
      margin-left: 32px;
    }

      .aab-aaa {
          padding: 0 9px 9px;
          font-size: 12px;
          line-height: 14px;
          text-transform: epperscase;
          color: #373A39;
          font-family: 'Raleway',sans-serf;
          latter-spacing: 0.6px;

          &:hover{
            border-bottom: 1px solid #4e7f9c;
          }
      }

//*-----banner----->

.b {
   background-image: url('images/htader.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh - 94px);
    font-family:'Montserrat',sans-serf;
}
.ba {    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // min-height: calc(100vh - 150px);

}
.baa {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: rgb(235, 244, 244);
  margin-top: auto;
  margin-bottom: 19px;
  text-shadow:1px 0 0 rgb(7, 7, 7),0 1px 0 rgb(17, 15, 15),-1px 0 0 rgb(12, 11, 11),0 -1px 0 rgb(226, 208, 208);
  margin-top: 530px;
}
.bab {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
  text-shadow:1px 0 0 rgb(238, 230, 230),0 1px 0 rgb(17, 15, 15),-1px 0 0 rgb(12, 11, 11),0 -1px 0 rgb(226, 208, 208);
  margin-top: 1px;

}
.bac {
  margin-top: 200px;
}


//*-----about----->
.c {
        background-color: #f6f8fa;
        padding: 150px 0 144px;
      }
  .ca {
    @include container();
    display: flex;
    justify-content: space-between;
  }
    .caa {
      align-self: flex-start;
      @include  header();
    }
   
      .cab p{
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        max-width: 770px;
        margin-bottom: 16px;
      }

//*---expertise----->

.da1 {
  @include container();
  display: flex;
  flex-direction: column;
  
}
.da{
  @include  header();
}

.db {
  
  display: flex;
  padding: 70px 0 110px;
}
.dba {
  margin-top: 8px;
  width: 370px;
  margin-right: 30px;
  flex:none;

}
.dba-a {

  padding: 2px 0 28px;
  border-top: 2px solid #1d1d1d;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  position: relative;
}

.dba-a span{

 display:block;
 position: absolute;
 right: 0;
 top:0;
 margin-right: 7px;

}

.dba-a span::before{
  content: "";
  position: absolute;
  height: 2px;
  background-color:#b09999;
  right: -7px;
  top: -2px;
  width: 100%;
}
.dba-b {
}
.dba-c {
}
.dbb{
  
}
.dbb p{
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.dc {
 
  display: flex;
  justify-content: space-between;
}
.dca {
  width: 370px;
  padding-left: 85px;
  position: relative;
}

.dca::before {
 content: "";
 position: absolute;
 top:0;
 left:0;
 width: 50px;
 height: 50px;
}
.dca-a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 15px;
}
.dca--DESIGN::before{

background-image: url('images/portreit.svg');
}
.dca--DEVELOPMENT::before{
  background-image: url('images/scenery.svg');
}
.dca--MARKETING::before{
  background-image: url('images/stillife.svg');
}

.dca-ab {
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
}
.dcab {
} 
//*---magic----->

.e{
  
  
  max-width: 1190px;
   padding: 100px 10px;
  margin: 0 auto; 
  
}

.ea{
   display:inline-flex;
   
}

.eaa{
 
  background-color: aqua;
  width: 50%;
  height: 750px;
}
.eab{
    width: 50%;
    padding-left: 50px;
    padding-top: 0px;
}
.eaa img{
  
   width: 100%;
   height: 100%;
   object-fit:cover;
   // // height: calc(50vw + 200px);
   // height:auto;
}
.eab-a{
   @include header();
}
.eab p{
   padding-top: 10px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
}